@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700&display=swap);

body {
    background-color: #2C2C2E;
    color: white;
}

* {
    font-family: 'Raleway';
}

p {
    font-size: 14px;
}

h1 {
    padding-top: 10px;
}

#try_again {
    margin-top: 20px;
}

#submit {
    margin-top: 10px;
}

td, th {
    text-align: left;
    padding-right: 8px;
    padding-bottom: 4px;
    font-size: 14px;
}
