<!doctype html>
{% load static %}
<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <title>match my abstract</title>

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-light">
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <a href="{% url 'home' %}">Home</a>
                            <hr>
                            <a href="{% url 'about' %}">About</a>
                            <hr>
                            <a href="https://github.com/ahlstromvij/match_my_abstract">GitHub</a>
                            <hr>
                            <a href="mailto:ahlstromvij@gmail.com">Get in touch</a>
                        </div>
                    </div>
                    {% block content %}
                    {% endblock content %}
                    <div class="bottom_copy">
                        <a href="https://www.facebook.com" class="fa fa-facebook-square" target="_blank"> </a>
                        <a href="https://twitter.com" class="fa fa-twitter-square" target="_blank"> </a>
                        <a href="https://www.linkedin.com" class="fa fa-linkedin-square" target="_blank"> </a>
                        </br>
                        Match my abstract version 0.1.0
                        </br>
                        Copyright &copy; 2022. All Rights Reserved | <a href="mailto:ahlstromvij@gmail.com"><u>Get in touch</u></a>
                    </div>
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
