<!-- templates/home.html -->
{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<h1>match my abstract</h1>
<div class="center">
    <img src="{% static 'img/doc.png' %}" width="75px"> <span class="text_shadows">=</span> <img src="{% static 'img/doc.png' %}" width="75px">
</div>
<p>Paste your <b>economics</b> abstract below and click submit to match it with a suitable econ journal:</p>
<form action="/results/" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" id="submit" class="btn btn-dark" value="Submit">
</form>

{% endblock content %}